@using Projecten2Groep7.Models.Domain
@using Projecten2Groep7.ViewModels
@model Projecten2Groep7.ViewModels.VerlanglijstViewModel
@{
    ViewBag.Title = "Verlanglijst";
}

<h2>Verlanglijst</h2>
<div>

    <table>
        <thead>
            <tr>
                <th class="tabel-data">
                    @using (Html.BeginForm("MinDatum", "Verlanglijst", new { van = Model.StartDatum, tot = Model.EindDate }))
                    {
                        <button type="submit" class="btn btn-sm color-website" @Html.Raw(Html.Action("GaNietTerug", new { van = Model.StartDatum, tot = Model.EindDate }))><span class="glyphicon-chevron-left glyphicon"></span></button>
                    }
                </th>
                <th class="tabel-data">
                    @Html.DisplayFor(model => model.StartDatum)
                </th>
                <th class="tabel-data"> TOT </th>
                <th class="tabel-data">
                    @Html.DisplayFor(model => model.EindDate)
                </th>
                <th class="tabel-data">
                    @using (Html.BeginForm("PlusDatum", "Verlanglijst", new { van = Model.StartDatum, tot = Model.EindDate }))
                    {
                        <button type="submit" class="btn btn-sm color-website" id="plus"><span class="glyphicon-chevron-right glyphicon"></span></button>
                    }
                </th>
            </tr>
        </thead>
    </table>
    @using (Html.BeginForm("Reserveer", "Verlanglijst", new { van = Model.StartDatum, tot = Model.EindDate, dagenLector = Model.DagenLector }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="visible-lg visible-md visible-sm">

                    </th>
                    <th>
                        @Html.DisplayName("Artikelnaam")
                    </th>
                    <th class="visible-lg visible-md visible-sm">
                        @Html.DisplayName("Omschrijving")
                    </th>
                    <th class="text-center visible-lg visible-md">
                        @Html.DisplayName("Aantal beschikbaar")
                    </th>
                    <th>

                    </th>
                    <th class="text-center visible-lg visible-md">
                        @Html.DisplayName("Aantal gewenst")
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ var teller = 0; var tellerAantal = 0;}
                @foreach (var item in Model.Producten)

                {
                    @Html.HiddenFor(i => item.Artikelnummer)
                    @Html.HiddenFor(i => item.Doelgroepen)
                    @Html.HiddenFor(i => item.Firma)
                    @Html.HiddenFor(i => item.Leergebieden)
                    @Html.HiddenFor(i => item.Prijs)
                    @Html.HiddenFor(i => item.ProductId)
                    @Html.HiddenFor(i => item.ReservatieLijnen)
                    @Html.HiddenFor(i => item.Uitleenbaar)
                    <tr>
                        <td class="visible-lg visible-md visible-sm">
                            <div class="grid wow zoomIn">
                                <a href="@Url.Content(item.Foto)" data-lightbox="@item.Artikelnaam">
                                    <figure class="effect-bubba">
                                        <img class="img-thumbnail img-responsive" src="@Url.Content(item.Foto)" alt="@item.Artikelnaam" />
                                        <figcaption class="">
                                            <p><span class="glyphicon glyphicon-search glyphycon btn-lg"></span></p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artikelnaam)
                        </td>
                        <td class="visible-lg visible-md visible-sm">
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td class="text-center visible-lg visible-md">
                            @{ var aantal = item.GeefAantalReserveerbaarInPeriode(Model.StartDatum, Model.EindDate);}
                            @Html.DisplayFor(modelItem => aantal)
                            @{tellerAantal++;}
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Verlanglijst", new { id = item.ProductId, van = Model.StartDatum, tot = Model.EindDate }, null)
                        </td>
                        <td>
                            @Html.TextBox("aantallen")

                        </td>
                        <td>
                            @using (Html.BeginForm("Remove", "Verlanglijst", new { id = item.ProductId }))
                            {
                                <button type="submit" formaction="Verlanglijst/Remove/@item.ProductId" class="btn  btn-xs color-website"><span class="glyphicon-remove glyphicon"></span></button>
                            }
                        </td>
                        @if (User.IsInRole("personeel"))
                        {

                            <td class="text-right">
                                Maandag:<br />
                                Dinsdag:<br />
                                Woensdag:<br />
                                Donderdag:<br />
                                Vrijdag:<br />
                            </td>
                                <td class="container-fluid">
                                    @Html.CheckBoxFor(m => Model.DagenLector[teller])
                                    @{ teller = teller + 1;}
                                    <br />@Html.CheckBoxFor(m => Model.DagenLector[teller])
                                    @{ teller = teller + 1;}
                                    <br />@Html.CheckBoxFor(m => Model.DagenLector[teller])
                                    @{ teller = teller + 1;}
                                    <br />@Html.CheckBoxFor(m => Model.DagenLector[teller])
                                    @{ teller = teller + 1;}
                                    <br />@Html.CheckBoxFor(m => Model.DagenLector[teller])
                                    @{ teller = teller + 1;}
                                </td>

                                        }
                    </tr>
                                        }
            </tbody>
        </table>

        <button type="submit" class="btn btn-sm color-website">Reserveer</button>

                                        }
</div>