<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Didactische leermiddelen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Didactische leermiddelen", "Index", "Product", new { area = "" }, new { @class = "navbar-brand didactische-leermiddelen" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-tablet">@Html.ActionLink("Catalogus", "Index", "Product")</li>
                    <li class="navbar-tablet">@Html.ActionLink("Verlanglijst", "Index", "Verlanglijst")</li>
                    <li class="navbar-tablet">@Html.ActionLink("Reservaties", "Index", "Reservatie")</li>
                    <li class="navbar-tablet">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
         @if (TempData["Info"] != null)
        {
            <div class="alert alert-success">@TempData["Info"]</div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-warning">@TempData["Error"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Didactische leermiddelen </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
